<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %>
		prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.label :title %><br/>
	<%= f.text_field :title %><br/>
	<%= f.label :due_date %><br/>
	<%= f.text_field(:due_date, placeholder: 'mm/dd/yyy') %><br/>
	<%= f.label :charge_amount %><br/>
	<%= f.number_field :charge_amount %><br/>
	<%= f.label :work_items %><br/>
	<%= f.text_area :work_items %><br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
