<h1>Listing Invoices</h1>

<table class="table">
  <thead>
    <tr>
	  <th>Title</th>
	  <th>Client</th>
	  <th>Date</th>
	  <% if current_user.admin? %>
      <th colspan="3">Actions</th>
	  <% else %>
	  <th>View</th>
	  <% end %>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
		<td><%= invoice[:title] %></td>
		<td><%= invoice.user.try(:email) %></td>
		<td><%= invoice[:due_date] %></td>
        <td><%= link_to 'Show', invoice, class: "btn btn-default btn-xs" %></td>
        <% if current_user.admin? %>
		<td><%= link_to 'Edit', edit_invoice_path(invoice), class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %></td>
		<% end %>
	</tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
<%= link_to 'New Invoice', new_invoice_path, class: "btn btn-primary" %>
<% end %>