<% form_for @user do |f| %>
	<div class="form-group">
		<%= f.label :email, class: "control-label" %>
		<%= f.email_field :email, class: "form-control" %>
    </div>
	<div class="form-group">
		<%= f.label :password, class: "control-label" %>
		<%= f.password_field :password, class: "form-control" %>
    </div>
	<div class="form-group">
		<%= f.label :password_confirmation, class: "control-label" %>
		<%= f.password_field :password_confirmation, class: "form-control" %>
   </div>
	<div class="form-group">
		<%= f.check_box :admin %><%= f.label :admin, class: "control-label" %>
	</div>
	<div class="actions">
	  <%= f.submit %>
	</div>
<% end %>