<h1>Add a new user</h1>

<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div class="alert alert-danger">
		  <h2 class="text-danger"><%= pluralize(@user.errors.count, "error") %>
			prohibited this user from being saved:</h2>

		  <ul>
			<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		  </ul>
		</div>
	<% end %>

	<div class="form-group">
	  <%= f.label :email, class: "control-label" %>
	  <%= f.email_field :email, class: "form-control" %>
	</div>
	<div class="form-group">
	  <%= f.label :password, class: "control-label" %>
	  <%= f.password_field :password, class: "form-control" %>
	</div>
	<div class="form-group">
	  <%= f.label :password_confirmation, class: "control-label" %>
	  <%= f.password_field :password_confirmation, class: "form-control" %>
	</div>
	<div class="form-group">
	  <%= f.check_box :admin %> <%= f.label :admin, class: "control-label" %>
	</div>
	<div class="actions">
	  <%= f.submit class: "btn btn-primary" %>
	  <%= link_to "Back to Admin", admin_root_path, class: "btn btn-default" %>
	</div>
<% end %>